body {
    background-image: url("/Users/lilianatrejo/Desktop/cozy_layout.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: #ffffff;
  }
header {
    text-align: center;
    margin-top: 2em;
}
header h1 {
  font-size: 3em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.3em;
}
header p {
  font-size: 1.3em;
  color: #ffffff;
}
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    background-color: #fffaf3;
    padding: 2em;
    border-radius: 15px;
    width: 60%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  }
  
  .question-label {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
    color: #4a3f35;
  }
  
  .search-box input {
    padding: 0.8em;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #8b5e3c;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
  }
  
  .search-box button {
    padding: 0.6em 1.5em;
    background-color: #8b5e3c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #70452a;
  }